<table>
  <thead>
    <tr>
      <th>Produto</th>
      <th>Código</th>
      <th>Categoria</th>
      <th>Preço de Venda</th>
      <th>Lucro por Venda</th>
      <th>Quantidade</th>
      <th>Foto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td>{{ row.name }}</td>
      <td>{{ row.code }}</td>
      <td>{{ row.category }}</td>
      <td>R${{ row.price }}</td>
      <td>R${{ row.profit }}</td>
      <td>{{ row.quantity }}</td>
      <td><img style="width: 70px; height: 70px;" src="{{ row.photo }}" alt="product image"></td>
    </tr>
    <tr *ngIf="!data || data.length === 0">
      <td colspan="7" style="text-align: center; padding: 20px; font-style: italic;color: #212529;font-size: 0.95rem">
        Nenhum produto encontrado.
      </td>
    </tr>
  </tbody>
</table>
