// Estilos para o overlay do modal
.modal-overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; // Para garantir que fique sobre outros elementos
}

.modal-overlay.show {
  visibility: visible;
  opacity: 1;
}

// Estilos para o conteúdo do modal
.modal-content {
  background: white;
  padding: 1.5rem 2rem; // Aumentado o padding para melhor espaçamento
  border-radius: 8px;
  width: 400px; // Aumentado a largura para acomodar melhor os campos
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  gap: 1rem; // Espaçamento entre os elementos do modal
}

// Estilos para o cabeçalho, corpo e rodapé do modal
.modal-header {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%; // Para os campos ocuparem a largura total do modal

  input.ng-invalid.ng-touched {
    border-color: #dc3545;
  }
}

.form-group label {
  margin-bottom: 0.5rem;
  color: #555;
  font-size: 0.9rem;
}

.form-group input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%; // Para garantir que o input ocupe o espaço
  box-sizing: border-box; // Para incluir padding e borda na largura total

  &:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.btn-cancel, .btn-save {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.btn-cancel {
  background-color: #f0f0f0;
}

.btn-save {
  background-color: #007bff;
  &:hover:not(:disabled) {
    background-color: #00b7ff;
  }
  color: white;
}

.btn-save:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}