<table>
  <thead>
  <tr>
    <th>Código</th>
    <th>Vendedor</th>
    <th>Comprador</th>
    <th>Valor da venda</th>
    <th>Data</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of data">
    <td>{{ row.id }}</td>
    <td>{{ row.employee.name }}</td>
    <td>{{ row.client.name }}</td>
    <td>{{ row.total | currency:'BRL':'symbol':'1.2-2' }}</td>
    <td>{{ row.date | date:'dd/MM/yyyy' }}</td>
    <td class="action-buttons">
      <button (click)="deleteSale(row.id)" title="Excluir Produto" class="action-btn delete-btn">
        <mat-icon aria-hidden="false" aria-label="Excluir" fontIcon="remove-icon" ></mat-icon>
      </button>
    </td>
  </tr>
  <tr *ngIf="!data || data.length === 0">
    <td colspan="7" style="text-align: center; padding: 20px; font-style: italic;color: #212529;font-size: 0.95rem">
      Nenhuma venda encontrada.
    </td>
  </tr>
  </tbody>
</table>
