<div class="login-container">
  <div class="login-card">
    <h1>Login</h1>
    <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm" style="width: 75%;">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          required
          ngModel
          placeholder="Digite seu email">
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          ngModel
          placeholder="Digite sua senha">
      </div>
      <div style="width: 100%; display: flex; gap: 8px; justify-content: space-between;">
        <button type="submit" [disabled]="!loginForm.valid" style="max-width: 200px; border-radius: 8px;">Entrar</button>
        <button style="max-width: 200px; border-radius: 8px;" routerLink="/signin">Cadastrar</button>
      </div>
      <!-- <a href="{{GOOGLE_SSO}}" style="display: flex; align-items: center; gap: 16px; max-width: 200px; background-color: #01001F; border:1px solid #0000004D; padding: 8px; border-radius: 8px; margin-top: 8px; color: whitesmoke; cursor:pointer;">
        <img style="height: 30px; width: 30px; position: relative;" ngSrc="assets/google-icon.png" alt="google icon" fill>
        Entrar com Google
      </a> -->
    </form>
  </div>
</div>
