#products_header {
  background-color: white;
  width: 100%;
  height: 108px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-bottom: 2px solid #0000004D;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 90;
}
