<div style="width: 100%; height: 100%; background-color: #D9D9D9; display: flex; flex-direction: column; overflow: hidden;">

  <div id="sales_header" style="padding: 10px;">
    <h3 style="margin: 0;">Vendas</h3>
    <app-search-bar style="width: 50%"></app-search-bar>
    <app-icon-btn iconName="add-icon.svg" buttonText="Adicionar Venda" width="160px" height="40px" (click)="openPopup()"></app-icon-btn>
    <app-add-sale #salesModal (saleAdded)="reloadSales()"></app-add-sale>

    <app-icon-btn iconName="remove-icon.svg" buttonText="Remover Venda" width="160px" height="40px"></app-icon-btn>
    <app-icon-btn iconName="down-arrow-icon.svg" buttonText="Outras ações" width="160px" height="40px"></app-icon-btn>
  </div>

  <div style="flex: 1; display: flex; min-width: 0;">
    <div style="flex: 1; min-width: 0;">
      <p style="margin: 16px 16px 16px 40px; font-weight: bold;">Lista de Vendas</p>
      <hr style="border: 1px solid #0000004D; margin: 2px 16px;">
      <div style="margin: 16px;">
        <app-sales-table [data]="sales" (onDeleteSale)="handleDeleteSale($event)"></app-sales-table>
      </div>
    </div>
  </div>
</div>
